<div class="card">
    <div class="flag">
        <img src="{{flags.png}}" alt="{{name.official}}">
    </div>
    <div class="card-body">
        <h2 class="card-text">Countrie:{{name.official}}</h2>
        <h2 class="card-text">capital:{{capital}}</h2>
        <h2 class="card-text">population:{{population}}</h2>
       
<ul>
    <h2>languages:</h2>
    {{#each languages}}
    <li>{{languages}}</li>
     {{/each}}
</ul>
    </div>
</div>